.comments {
    border: dashed red;
    border-radius: 50px;
    padding-left: 10%;
    border-width: 50%;
}

.button {
    border: solid blue;
    border-radius: 50px;
    background-color: rgba(0, 0, 255, 0.247);

}

.delete {
    border: solid blue;
    border-radius: 50px;
    background-color: rgba(0, 0, 255, 0.288);

}

.edit {
    border: solid blue;
    border-radius: 50px;


}

.back {
    border: solid blue;
    border-radius: 50px;
    background-color: rgba(0, 0, 255, 0.336);

}


